@import "tailwindcss";

@theme {
  --font-display: "Inter", "sans-serif";
  --color-accent: rgb(214 201 255 / var(--tw-bg-opacity, 1));
  --font-sans: "Inter", ui-sans-serif, system-ui;
}

/* You can also use a focus variant to only apply it when the element is focused (recommended for accessibility) */
a:focus, button:focus, input:focus, select:focus, textarea:focus {
  @apply focus:outline-2 focus:outline-offset-4 focus:outline-solid focus:outline-blue-800;
}
 
 