  
<div class="text-center py-20 bg-gray-100 rounded-lg w-full">
  <h1 class="text-5xl font-extrabold text-gray-900 mb-4">Work in Progress!</h1>
  <p class="text-xl text-gray-600 mb-8">Hello, <%= @welcome_message %></p>
  <p>2026</p>
 </div>