<div class="max-w-7xl mx-auto px-6 py-16">
  <h1 class="text-3xl font-bold mb-4">Privacy Policy (draft 1.0)</h1>
  <p class="text-sm text-gray-500">Note: This is a draft privacy policy and may be subject to further revisions.</p>
  <p class="text-sm text-gray-500 mb-4">Last revised: 14 March 2026</p>
  <p class="mb-4">This Privacy Notice for Gattoni web development ('we', 'us', or 'our'), describes how and why we access, collect, store, 
    use, and/or share your personal information when you use our website. </p>
  <p>including when you: </p>
  <ul class="list-disc list-inside mb-4">
    <li>Visit our website at https://gattoniwebdev.com </li>
    <li>Use Gattoni web development contact form. </li>
  </ul>
  <p class="mb-4">Your privacy is important to us and we are committed to respecting and ensuring your privacy is protected. </p>
  <p class="mb-4">By using this Website, you consent to the practices described in this policy. </p>
  <p class="mb-4">If you have any questions about this privacy policy, please contact us at melissa@gattoniwebdev.com.</p>
  <h2 class="text-xl font-semibold mt-6 mb-4">1. The Types Of Personal Information we Collect</h2>
  <ul class="list-disc list-inside">
    <li>Your Name</li>
    <li>Your Email address</li>
    <li>Your enquiry</li>
  </ul>
  <h2 class="text-xl font-semibold mt-6 mb-4">2. How we Collect It?</h2>
  <p>Directly once you submit your name, email address and inquiry via the Contact Form (feature in progress) on this Website, I collect the mentioned personal information voluntarily provided by you.</p>
  <h2 class="text-xl font-semibold mt-6 mb-4">3. Why we Collect It?</h2>
  <p>We collect it in order to:</p>
  <ul class="list-disc list-inside">
    <li>respond to your inquiries, and to facilitate any future delivery of services to you.</li>
    <li>To comply with any applicable legal obligations.</li>
  </ul>
  <h2 class="text-xl font-semibold mt-6 mb-4">4. Who we Share It With?</h2>
  <p>The third parties we may share personal information with are as follows:</p>
  <h3 class="text-md font-semibold mt-4 mb-2">Website Hosting</h3>
  <ul class="list-disc list-inside">
    <li>Heroku</li>
  </ul>
  <h3 class="text-md font-semibold mt-4 mb-2">Email delivery platform:</h3>
  <ul class="list-disc list-inside">
    <li>Mailtrap</li>
  </ul>
  <h3 class="text-md font-semibold mt-4 mb-2">Email storage:</h3>
  <ul class="list-disc list-inside">
    <li>Google Gmail</li>
  </ul>
</ul>
<h2 class="text-xl font-semibold mt-6 mb-4">5. Cookies</h2>
<p>What Are Cookies? A cookie is a small text file stored in your browser when you visit a website. It is sent back to the originating server on each subsequent visit, allowing the site to recognise your browser and maintain basic functionality.</p>
<p class="mt-2">We use the following Cookies in our website:</p>
<ul class="list-disc list-inside">
  <li>Rails 8 default Session Cookie: in combination with the CSRF Token Cookie, it prrotects against forged requests (CSRF). Expires when you close your browser.</li>
  <li>Rails CSRF Token Cookie: Protects form submissions against cross-site request forgery (CSRF) attacks — a standard web security measure. Expires when you close your browser.</li>
</ul>
<h2 class="text-xl font-semibold mt-6 mb-4">6. Data Storage, Security And Retention</h2>
<p>We process your personal information securely using Heroku (for application hosting) and Mailtrap (for email delivery).</p>
<p>When you submit a contact form on our website, your details are processed by Heroku, passed to Mailtrap for delivery, and received and stored it in our Google Gmail inbox. Both Heroku and Mailtrap may temporarily process and retain your data in transit as part of this process.</p>
<p>To protect your data in transit, Heroku uses HTTPS and TLS (Transport Layer Security) encryption, which ensures your information is securely transmitted and protected from unauthorised access or tampering.</p>
<h3 class="text-md font-semibold mt-4 mb-2">Where your data is processed:</h3>
<p>Heroku is hosted on Amazon Web Services (AWS) infrastructure, with servers located in the United States.</p>
<p>Mailtrap is hosted in the USA on AWS and Google servers.</p>
<p>Google Gmail operates data centres globally.</p>
<p>We take reasonable steps to protect your data from unauthorised access, misuse, or loss.</p>
<p class="mt-2">Your data is kept only for as long as we need it. When it is no longer needed, we will securely delete or de-identify it.</p>
<p class="mt-2">Please note that your data may be stored on servers outside of Australia. We ensure any overseas storage meets the standards required under the Australian Privacy Principles.</p>
<h2 class="text-xl font-semibold mt-6 mb-4">7. Access, Correction And Complaints</h2>
<p>To request to review, update, or delete your personal information, or if you have a privacy complaint please email us at melissa@gattoniwebdev.com</p>
and we will respond to your request within a reasonable time.
<h2 class="text-xl font-semibold mt-6 mb-4">8. Contact Details And Policy Updates</h2>
<p>If you have questions or comments about this notice, please email us at melissa@gattoniwebdev.com</p>
<p class="mt-4">We may update this Privacy Notice from time to time. And we will update the "last revised" date of this document, evert time we make changes to this document. </p>
<p class="mt-4">We encourage you to review our Privacy Notice frequently for the latest updates on how we are protecting your personal information.</p>
</div>