<div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 rounded-r" role="alert">
  <% flash.each do |type, msg| %>
    <%= content_tag :div, msg, class: "flash-#{type}" %>
  <% end %>
</div>