<!-- ================= FOOTER ================= -->
<footer class="bg-gray-300">
  <div class="max-w-7xl mx-auto px-6 py-10 flex flex-col gap-6">
    <div class="flex flex-col md:flex-row items-center justify-between gap-6">
      <div class="flex items-center gap-3">
        <%= link_to root_path, class: "font-semibold leading-tight" do %>
          Gattoni web development
        <% end %>
      </div>
    </div>
    <div class="flex justify-center">
      <div class="w-full max-w-4xl  p-6">
        <p class="text-gray-800 text-sm">
          Made with love and care in Melbourne. We acknowledge and pay respect to the traditional custodians of the land on which we live and work. We pay respect to their Elders, both past and present, and recognise their deep connection to this land.
        </p>
        <p class="text-gray-800 text-sm mt-4">
          Gattoni web development is committed to ensuring digital accessibility for people with disabilities. We are continually improving the user experience for everyone, and applying the relevant accessibility standards.
        </p>
      </div>
    </div>
    <p class="text-sm text-center text-gray-700">
      Copyright © 2026 · Made in Melbourne, Australia
    </p>
    <p class="text-sm text-center text-gray-700">
      <%= link_to "Privacy Policy", landing_privacy_policy_path, class: "underline hover:text-gray-900" %>
    </p>
  </div>
</footer>