<footer class="bg-gray-200 text-black mt-12">
    <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8 container">
        <p class="text-center text-sm md:text-left mb-4 md:mb-0">
            &copy; 2026 Gattoni Web Development. All rights reserved.
        </p>
    </div>
</footer>
