<header class="border-b relative">
  <div class="max-w-7xl mx-auto flex flex-col items-center justify-between px-6 py-4 md:flex-row">
    <!-- Logo -->
    <div class="mb-5 md:mb-0">
      <%= link_to root_path, class: "font-semibold leading-tight" do %>
        Gattoni web development
      <% end %>
    </div>
  </div>
</header>