<nav class="bg-gray-800 p-4 shadow-lg">
  <div class="container mx-auto flex justify-between items-center">
    <%= link_to 'Gattoni Web Development', root_path, class: 'text-white text-xl font-bold' %>
  </div>
</nav>
