<% if @contact.valid? %>
  <%= turbo_stream.replace "contact_form" do %>
    <div class="bg-green-100 border-l-4 border-green-500 text-green-900 p-4" role="alert">
      <p aria-live="assertive" aria-atomic="true" role="alert">Work in progress! Success message goes here...</p>
    </div>
  <% end %>
<% else %>
  <%= turbo_stream.replace "contact_form" do %>
    <p aria-live="assertive" aria-atomic="true" role="alert">Work in progress! Error message goes here</p>
    <%= render "form", contact: @contact %>
  <% end %>
<% end %>