name:  Rails CI
on:
  pull_request:
  push:
    branches: ["main"]
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v5
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true
      - name: Set Rails Environment
        run: |
          echo "RAILS_ENV=test" >> $GITHUB_ENV
      - name: Build application
        run: |
          bin/rails db:prepare
          bin/rails assets:precompile
      - name: Run tests
        run: bin/rails test
